




#barra-navegacion{
  
  font-weight: 100;
  color: white;
  padding-bottom: 2rem;
  padding-top: 2rem;
  background-color: rgb(63, 63, 83) !important;
}

#titulo-barra{
  margin-right: 8rem;
  color: #FFFFFF;
  font-family: "Jost", Sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 3px;
}

#telefono-contenedor2{
  justify-content: center;
  display: flex;
  align-items: center;
  background-size: auto;
  
}


#card-contenedor2{
  padding-bottom: 2rem;
  padding-top: 2rem;
  background-color: rgba(0, 0, 0, 0.342);
  max-width: 30rem !important;
}


#texto-card{
  font-size: 1.5rem;
  color: white;
}

#titulo-card{
  
  color: #FFFFFF;
  font-family: "Jost", Sans-serif;
  font-size: 2.5rem;
  font-weight: 800;
  text-transform: uppercase;
  
}

#contenedor1{
background-color: #282c34;
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.carousel-item img {


  max-height: 31REM;
  
}



#texto-carrusel{
  background-color: rgba(0, 0, 0, 0.356);
  color: white !important;
}

#flecha-carrusel{
  background-color: black !important;
  padding: 5rem;
    color: red !important; /* Asegura que el color rojo se aplique */
}

.carousel-control-next-icon {
  background-color: #282c3475;
  width: 5rem !important;
  height: 5rem !important;
  filter: none !important;
  background-image: url('\images/next.png') !important
}


#telefono-contenedor2 img{
  height: 2rem;
  width: 2rem
}

#texto-contenedor2{
  font-size: 2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  margin-left: 1rem;
}


.carousel-control-prev-icon{
  background-color: #282c3475;
  width: 5rem !important;
  height: 5rem !important;
  filter: none !important;
  background-image: url('\images/prev.png') !important
}



 #contenedor2{
  padding-left: 2rem;
  background-size: cover;
  align-items: flex-end;
  background-image: url('\images/imagen6.jpg') !important;
  padding-top: 4rem;
  text-align: start;
  padding-bottom: 10rem;
  background-position:start; /* Esto centra la imagen */
  background-repeat: no-repeat;
  
 }
 .row{
  margin-left: 0 !important;
 }

 #cuerpo-contenedor2{
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 4rem;
  --bs-gutter-x: 0 !important;
  margin-left: 0 !important;
 }

 #titulo1-contenedor2{
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: rgb(24, 4, 94);
  color: #FFFFFF;
  font-family: "Jost", Sans-serif;
  font-size: 2rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 3px;
  
 }

 @media (max-width: 768px) {

  #quienessomos2{
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

#quienessomos{
  padding-top: 2rem !important;
}

  .titulo-trabajos{
    text-align: center;
    font-size: 2rem !important;
  }

  #container-servicios .row {
    display: flex;
    flex-direction: column;
}

#colcuerpo2 {
    order: 2;
}

#colimagen2 {
    order: 1;
}


  #titulo-trabajo{
    font-size: 2rem !important;
  }

  #descripcion-trabajo{
    line-height: 1.3rem !important;
    margin-top: 1rem !important;
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
    font-size: 1.2rem !important;
  }

#container-servicios{
  padding-right: 0rem !important;
  padding-left: 0rem !important;
}
#colimagen{
  
}
  #contenedor3{
    background-image: none !important;
    background-color: rgba(76, 76, 76, 0.81) !important
  }

  #texto-card {
    
    font-family: sans-serif;
    line-height: 1;
    font-size: 1.2rem;
    color: white;
}


  #boton-consulta{
    background-color: #2AC5F4;
    margin-top: 5rem !important;
    font-size: 1.5rem;
    padding: 1rem;
  }

#col-trabajos{
margin-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
  
  .card-text:last-child{
    line-height: 1.2rem;
  }
  
  .titulo-servicio3 {
    margin-top: 2rem;
    line-height: 1.2;
    color: #FFFFFF;
    font-size: 1.2rem !important;}

  
  .titulo-servicio2 {
    font-size: 2rem !important;
    line-height: 1.8rem;
    text-align: center;}

  #contenedor2{
    padding-bottom:  0rem !important;
    padding-left: 0rem;
  }

  #cuerpo-contenedor2{
    padding-right: 0rem;
    padding-left:0rem !important;
    padding-top: 1rem;
 
   }

  #barra-navegacion{
    padding-right: 1rem;
    padding-left: 1rem;
  }
  #titulo-barra {
    margin-right: 0;
    letter-spacing: 0;
    font-size: 1rem; /* Tamaño de fuente más pequeño para pantallas pequeñas */
  }
#texto-contenedor2{
  font-size: 1.5rem;
}

#titulo-card{
  font-size: 1.5rem;
}

#texto-card{
  line-height: 1;
  font-size: 1.2rem;
  color: white;
}

#texto-contenedor2 {
  font-size: 1.2rem;
}

#titulo-formulario{
  font-size: 1.2rem !important;
}


#titulo-contenido1{
  line-height: 1.1;
  font-size: 2.5rem !important;
}

#texto-contenido1{
  margin-top: 2rem;
  font-size: 1.5rem !important;
}


#contenidofooter-titulo1 {
  font-size: 1.5rem !important;
}


#container-quienes2{
  padding-bottom: 0rem !important;
  width: 100% !important;
}

.cuadro1
   {
    display:none

}

}


/* Estilos para animación de abajo hacia arriba */
@keyframes slideInUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-bottom {
  animation: slideInUp 0.5s ease-out;
}







  #contenido-barra{
    font-size: 1.5rem;
    margin-left: 2rem;
    color: white !important;
  }

  .formulario{
    text-align: start;
    height: 100%;
    color: WHITE !important;
    border-radius: 0rem;
    padding: 2rem;
    background-color: #0B5ED7;
  }


  #titulo-formulario{
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: rgb(226, 178, 3);
    color: #FFFFFF;
    font-family: "Jost", Sans-serif;
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0;
  }

  #boton-formulario{
    display: flex;
    justify-content: center;
  }

  #boton-formulario-color{
    color: white !important;
    color: #FFFFFF;
    font-family: "Jost", Sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0;
  }

  #card-servicio img{
    height: 100%;
    width: 100%;
  }

  #card-servicio{
    
    padding: 1rem;
align-items: center;
  }

  #contenedor3{
    justify-content: center;
    margin-bottom: 2rem;
    padding-top: 2rem;
    background-image: url('images/fondo-ventana.jpg') ;
    height: fit-content;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    padding-bottom: 2rem;
  }


  .titulo-servicio2{
    color: #FFFFFF;
    font-family: "Jost", Sans-serif;
    font-size: 2.5rem;
    font-weight: 800;
    text-transform: uppercase;
  }

  .titulo-servicio3{
    color: #FFFFFF;
    
    font-size: 1.5rem;
    

    letter-spacing: 0;
  }


  .titulo-completo{
    align-items: center;
    border-radius: 0.5rem;
    height: fit-content;
    padding: 2rem;
    background-color: #282c34e2;
  }

  #contenedor3-row{
    justify-content: center;
    align-items: center;
  }

  .titulo-servicio-completo {
    justify-content: center;
  }

  #card-servicio {
    transition: background-color 0.3s ease;
  }

  #card-servicio:hover {
    color:white;
    background-color: rgb(43, 99, 240);
  }



  .image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 10rem;
    max-width: 2rem; /* Ajusta este valor según tus necesidades */
    margin: 0 auto;
  }

  .image-grid img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  

  .titulo-trabajos{
    color: #FFFFFF;
    font-family: "Jost", Sans-serif;
    font-size: 2.5rem;
    font-weight: 800;
    text-transform: uppercase;
  }

  .cuadro1{
    padding: 1rem;
    width: max-content;
    margin: 2rem;
    background-color: rgba(255, 255, 255, 0.256);
  }

  #cuerpo-galeria{
    align-items: start;
  }


  .row{
    --bs-gutter-x: 0rem !important;
  }

  #cuerpo-quienessomos{
    padding: 1rem;
    max-width: 75%;

  }

  #imagen-quienes img{
    width: 100%;
    height: 100% !important;
  }

  #card-imagen img{
    width: 50%;
  
  }

  #card-imagen{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #row-imagen{
    align-items: center;
    justify-content: center;

  }
  

  #titulo-quienes{
    text-align: center;
   
    color: #4d4d4d;
    font-family: "Jost", Sans-serif;
    font-size: 2.5rem;
    font-weight: 800;
    text-transform: uppercase;
  }

  #cuerpo-quienes{
    background-color: rgba(255, 0, 0, 0);
    text-align: center;
    align-items: center;
  }



  #boton-quienes{
    max-width: 40%;
    color: white;
    font-weight: 700;
    background-color: #ff7300;
    font-size: 1.5rem;
    padding: 1.5rem;
  }

  #cuerpo-quienes{
    color: rgb(90, 89, 89);
    background-color: #ffffff;
    text-align: left !important;
  }

  #row-boton{
    justify-content: center;
  }

  #container-quienes2{display: flex;
    justify-content: center !important;
    align-items: center;
    width: 50%;
    background-size: 100% 100%;
  align-items: flex-end;
  padding-top: 4rem;
  text-align: start;
  padding-bottom: 10rem;
  background-position:start; /* Esto centra la imagen */
  background-repeat: no-repeat;
    background-image: url('\images/fondo-quienes.jpg') !important

  }

  #contenido1{
    justify-content: center;
    text-align: center;
    color: white;
  

  }



  #quienessomos {
    position: relative; /* Asegura que el contenedor relativo tenga posición */
    margin-bottom: 4rem;
    padding-top: 25rem;
    padding-bottom: 25rem;
    text-align: center;
    background: url('\images/cristaleria.jpg') ; /* Cambia la opacidad según tus necesidades */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-right: 1rem;
    padding-left: 1rem;
    z-index: 1; /* Asegura que #quienessomos esté sobre otros elementos si es necesario */
}
 



#contenedoracerca {
  position: absolute; /* Posiciona de forma absoluta dentro de #quienessomos */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex; /* Para que los elementos internos se alineen en columna */
  justify-content: center; /* Centra horizontalmente los elementos */
  align-items: center; /* Centra verticalmente los elementos */
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
  color: white; /* Color de texto */
}


#titulo-contenido1{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  font-weight: 600;
  font-size: 5rem;

}

#texto-contenido1{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgba(255, 255, 255, 0.908);
  line-height: 0.9;
  font-weight: 500;
  font-size: 2rem;

}

#quienessomos2{
  padding-right: 4rem;
  padding-left: 4rem;
  
}


.card{
  border-color: rgba(255, 0, 0, 0) !important;
}

#contenedor4{
  color: white;
  padding-bottom: 4rem;
  padding-top: 4rem;
  background-color:#3F3F53
}


#contenidofooter-titulo1{
  font-size: 2rem;
}


#contenidofooter-titulo2{

  
}

#imagen-footer{
  margin-left: 2rem !important;
}

#contenidofooter{
  display: flex;
  align-items: center;
}

#contenedor4{
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.container-fluid{
  padding-left: 0 !important;
  padding-right: 0 !important;
}


#trabajo1{
  padding-top: 5rem;
  
}

#titulo-trabajo{
  margin-top: 2rem;
  text-align: center  ;
  margin-bottom: 2rem;
  color: #393939;
  font-family: "Jost", Sans-serif;
  font-size: 2.5rem;
  font-weight: 800;
  text-transform: uppercase;
  
}

#descripcion-trabajo{
  margin-top: 4rem;
  line-height: 1.8rem;
  padding-right: 2rem;
  padding-left: 2rem;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #5b5b5b;

  font-size: 1.5rem;
  font-weight: 100;
  
}

#container-servicios{
  padding-right: 6rem;
  padding-left: 6rem;
}

.line {
  display: flex;
  flex-grow: 1;
  height: 2px;
  background-color: rgb(0, 166, 255);
  margin: 0 10px;
}

.boton-servicios{display: flex;
  justify-content: center;
}

#boton-consulta2{
  font-size: 1.5rem;
  padding: 1rem;
}


#row-container-servicios{
  align-items: center;
}



#image-servicio{
  padding: 1rem;
}
